In [135]:
!pip install emoji

Requirement already satisfied: emoji in c:\users\lenovo\anaconda3\lib\site-packages (2.2.0)

WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\lenovo\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\lenovo\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\lenovo\appdata\roaming\python\python39\site-packages)
WARNING: Error parsing requirements for pyqt5: [Errno 2] No such file or directory: 'c:\\users\\lenovo\\anaconda3\\lib\\site-packages\\PyQt5-5.15.7.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\lenovo\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\lenovo\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\lenovo\appdata\roaming\python\python39\site-packages)

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [136]:
from tracemalloc import stop
import numpy as np
import pandas as pd
import re
import seaborn as sns
import string
import nltk
import emoji
import string
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier

In [137]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score

In [138]:
nltk.download('punkt')
nltk.download('stopwords')
sw=nltk.corpus.stopwords.words("english")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [139]:
# df = pd.read_csv("New_Dropped_Uscomments.csv",error_bad_lines=False)
# df = pd.read_csv("New_DF_Positive_Negative_Netural_dropna.csv",error_bad_lines=False)
df = pd.read_csv("Random_same_sample_ALL_3_Category.csv",error_bad_lines=False)

C:\Users\LENOVO\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3552: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [142]:
df.head()
# len(df)

,video_id,comment_text,likes,replies,Polarity,Target
0,7YAAyUFL1GQ,K back to good music I was on autoplay and it ...,0,0,0.333333,Positive
1,fiEYKSMcHAI,Love your vids keep up with the good work,0,0,0.600000,Positive
2,368_ovPsJk8,Lmao what is she saying?! \nShe said fuck you 😂,0,0,0.175000,Positive
3,-Jdc7FXupWQ,This cover is fantastic! Her voice is perfect ...,4,0,0.750000,Positive
4,bvomHFZO0mk,Cool! Just come to the US legally and we will ...,0,0,0.379167,Positive

In [143]:
df['Target'].value_counts()

Positive    70000
Negative    70000
Neutral     70000
Name: Target, dtype: int64

In [144]:
df['Final_Target'] = df['Target'].map({'Positive':1,'Negative':-1,'Neutral':0})

In [145]:
# df.drop(['Target'],axis=1,inplace=True)
df.head()

,video_id,comment_text,likes,replies,Polarity,Target,Final_Target
0,7YAAyUFL1GQ,K back to good music I was on autoplay and it ...,0,0,0.333333,Positive,1
1,fiEYKSMcHAI,Love your vids keep up with the good work,0,0,0.600000,Positive,1
2,368_ovPsJk8,Lmao what is she saying?! \nShe said fuck you 😂,0,0,0.175000,Positive,1
3,-Jdc7FXupWQ,This cover is fantastic! Her voice is perfect ...,4,0,0.750000,Positive,1
4,bvomHFZO0mk,Cool! Just come to the US legally and we will ...,0,0,0.379167,Positive,1

In [146]:
df.dropna(inplace=True)

In [147]:
df.isnull().sum()

video_id        0
comment_text    0
likes           0
replies         0
Polarity        0
Target          0
Final_Target    0
dtype: int64

In [148]:
# df.drop(41587, inplace=True)

In [149]:
# df = df.reset_index().drop('index',axis=1)

In [150]:
df.likes = df.likes.astype(int)
df.replies = df.replies.astype(int)

In [151]:
df.head()

,video_id,comment_text,likes,replies,Polarity,Target,Final_Target
0,7YAAyUFL1GQ,K back to good music I was on autoplay and it ...,0,0,0.333333,Positive,1
1,fiEYKSMcHAI,Love your vids keep up with the good work,0,0,0.600000,Positive,1
2,368_ovPsJk8,Lmao what is she saying?! \nShe said fuck you 😂,0,0,0.175000,Positive,1
3,-Jdc7FXupWQ,This cover is fantastic! Her voice is perfect ...,4,0,0.750000,Positive,1
4,bvomHFZO0mk,Cool! Just come to the US legally and we will ...,0,0,0.379167,Positive,1

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210000 entries, 0 to 209999
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   video_id      210000 non-null  object
 1   comment_text  210000 non-null  object
 2   likes         210000 non-null  int32
 3   replies       210000 non-null  int32
 4   Polarity      210000 non-null  float64
 5   Target        210000 non-null  object
 6   Final_Target  210000 non-null  int64
dtypes: float64(1), int32(2), int64(1), object(3)
memory usage: 11.2+ MB

In [153]:
df.duplicated().sum()

0

In [154]:
# drop_df = df.drop_duplicates(keep='first')

In [155]:
# len(drop_df)

In [156]:
# drop_df.to_csv('New_Dropped_Uscomments.csv',index=False)

In [157]:
from textblob import TextBlob

In [18]:
# polarity = []
# for comment in df['comment_text']:
#     try:
#         polarity.append(TextBlob(comment).sentiment.polarity)
#     except:
#         polarity.append(0)

In [19]:
# df['Polarity'] = polarity

In [41]:
# df.head()

In [22]:
# x=[]
# for i in df.Polarity:
#     if i>0:
#         x.append('Positive')
#     elif i<0:
#         x.append('Negative')
#     else:
#         x.append('Neutral')

In [23]:
# df['Target'] = x

In [158]:
df['Final_Target'].value_counts()

 1    70000
-1    70000
 0    70000
Name: Final_Target, dtype: int64

In [25]:
# # dropna
# tmp = df.drop_duplicates(keep='first')
# len(tmp)

471631

In [43]:
# tmp['Target'].value_counts()

In [45]:
# df.drop_duplicates(keep='first')

In [27]:
# tmp.to_csv("New_DF_Positive_Negative_Netural_dropna.csv",index=False)

In [22]:
# tmp_positive = df[df['Target']=='Positive'].sample(70000)
# tmp_negative = df[df['Target']=='Negative'].sample(70000)
# tmp_netural = df[df['Target']=='Neutral'].sample(70000)

In [23]:
# df1 = pd.concat([tmp_positive,tmp_negative,tmp_netural],ignore_index=True)

In [24]:
# df1.head()

,video_id,comment_text,likes,replies,Polarity,Target
0,7YAAyUFL1GQ,K back to good music I was on autoplay and it ...,0,0,0.333333,Positive
1,fiEYKSMcHAI,Love your vids keep up with the good work,0,0,0.600000,Positive
2,368_ovPsJk8,Lmao what is she saying?! \nShe said fuck you 😂,0,0,0.175000,Positive
3,-Jdc7FXupWQ,This cover is fantastic! Her voice is perfect ...,4,0,0.750000,Positive
4,bvomHFZO0mk,Cool! Just come to the US legally and we will ...,0,0,0.379167,Positive

In [25]:
# df1['Target'].value_counts()

Positive    70000
Negative    70000
Neutral     70000
Name: Target, dtype: int64

In [27]:
# df1.to_csv("Random_same_sample_ALL_3_Category.csv",index=False)

In [159]:
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import *
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [160]:
sw = stopwords.words('english')
ps = PorterStemmer()
lemmatizer = nltk.stem.WordNetLemmatizer()

In [161]:
df.head()

,video_id,comment_text,likes,replies,Polarity,Target,Final_Target
0,7YAAyUFL1GQ,K back to good music I was on autoplay and it ...,0,0,0.333333,Positive,1
1,fiEYKSMcHAI,Love your vids keep up with the good work,0,0,0.600000,Positive,1
2,368_ovPsJk8,Lmao what is she saying?! \nShe said fuck you 😂,0,0,0.175000,Positive,1
3,-Jdc7FXupWQ,This cover is fantastic! Her voice is perfect ...,4,0,0.750000,Positive,1
4,bvomHFZO0mk,Cool! Just come to the US legally and we will ...,0,0,0.379167,Positive,1

In [90]:
# print(type(df['com_token'][0]))
# print(df['com_token'][2])

<class 'list'>
lmao what is she saying?! \nshe said fuck you 😂

In [160]:
# def transform_text(text):
# #     text1 = convert_emojis_to_word(text)
# #     text.encode('utf-8')
#     text1=text.lower()
# #     text1 = [y for y in text1 if y not in sw]
# #     text1 = " ".join(text1)
# #     print(text1)
#     text1=nltk.word_tokenize(text1)
# #     text1 = [lemmatizer.lemmatize(y) for y in text1]
# #     text1 = " ".join(text1)
#     print(text1)
    
#     y=[]
#     for i in text1:
#         if i not in string.punctuation:
#             y.append(i)
# #         if i.isalnum() or i==" ":
# # #         if i.islower() or i.encode('utf-8'):
# # #         if i.islower():
# #             y.append(i)
#     text1=y[:]
    
#     y.clear()
# #     text1 = "".join(text1)
#     print(text1)
#     tmp=""
#     for i in text1:
#         tmp+=i+" "
#     tmp = tmp.strip()
    
#     text1 = tmp.split()
#     print(tmp.split())
#     for i in text1:
#         y.append(lemmatizer.lemmatize(y))
# #         if i not in stopwords.words('english') and i not in string.punctuation:
# #             y.append(i)
# # #         if i in emoji.distinct_emoji_list(i):
# # #             y.append(i)
#     text1=y[:]
#     print(text1)
# # #     y.clear()
# # #     ps=PorterStemmer()
# # #     for i in text1:
# # #         y.append(ps.stem(i))
# # #     print(text1)
# #     return " ".join(y)

In [162]:
def transform_text_2(df):
    df['com_token'] = df['comment'].str.lower()
    txt = df['com_token'][0]
    txt = nltk.word_tokenize(txt)
#     print(txt)
    df['com_token'][0] = txt
    df['com_remv'] = df['com_token'].apply(lambda x: [y for y in x if y not in sw and y not in string.punctuation])
    df["com_lemma"] = df['com_remv'].apply(lambda x : [lemmatizer.lemmatize(y) for y in x]) # lemmatization
        
#     print(df['com_token'][0])
#     print(df['com_remv'][0])
#     print(df['com_lemma'][0])
    
    final_str = ' '.join(df['com_lemma'][0])
    
#     print(final_str)
#     print(type(final_str))
    return final_str

In [48]:
# transform_text('Lost on you ! 😍\nOH My God I love this song !😭')
# str='I ??? m being you knows and!!! happy you'
# str = 'Lost on you ! 😍\nOH My God I love this song !😭'
str='The end though happy😭👍'
df = pd.DataFrame({'comment':str},index=[0])
df

                  comment
0  The end though happy😭👍

In [49]:
transform_text_2(df)

'end though happy😭👍'

In [50]:
tm = df['comment'][0]
print(type(tm))

<class 'str'>

In [ ]:
def clean(str):
    txt=str
    txt = txt.replace('\\n','')
    txt = txt.replace('\\','')
    
    return txt

In [218]:
# df['clean_comment'] = df['clean_comment'].apply(clean)

In [219]:
df.head()

,video_id,comment_text,likes,replies,Polarity,Target,Final_Target,clean_comment
0,7YAAyUFL1GQ,K back to good music I was on autoplay and it ...,0,0,0.333333,Positive,1,k back good music autoplay went jacob sartoriu...
1,fiEYKSMcHAI,Love your vids keep up with the good work,0,0,0.600000,Positive,1,love vids keep good work
2,368_ovPsJk8,Lmao what is she saying?! \nShe said fuck you 😂,0,0,0.175000,Positive,1,lmao saying she said fuck
3,-Jdc7FXupWQ,This cover is fantastic! Her voice is perfect ...,4,0,0.750000,Positive,1,cover fantastic voice perfect
4,bvomHFZO0mk,Cool! Just come to the US legally and we will ...,0,0,0.379167,Positive,1,cool come u legally problem whatsoever

In [222]:
tfidf1 = TfidfVectorizer(stop_words=sw,max_features=20)
def transform1(txt1):
    txt2=tfidf1.fit_transform(txt1)
    return txt2.toarray()

In [223]:
x = transform1(df['clean_comment'])
y=df["Final_Target"]

In [224]:
x_train1,x_test1,y_train1,y_test1=train_test_split(x,y,test_size=0.3,random_state=101)

In [225]:
model1=MultinomialNB()
# model1=RandomForestClassifier()
# model1=LogisticRegression()
model1.fit(x_train1,y_train1)

MultinomialNB()

In [226]:
y_pred = model1.predict(x_test1)

In [227]:
from sklearn.metrics import classification_report
print(classification_report(y_test1,y_pred))

              precision    recall  f1-score   support

          -1       0.50      0.15      0.23     21050
           0       0.40      0.95      0.56     20973
           1       0.83      0.28      0.42     20977

    accuracy                           0.46     63000
   macro avg       0.58      0.46      0.40     63000
weighted avg       0.58      0.46      0.40     63000

In [229]:
print(classification_report(y_pred,y_test1))

              precision    recall  f1-score   support

          -1       0.15      0.50      0.23      6157
           0       0.95      0.40      0.56     49872
           1       0.28      0.83      0.42      6971

    accuracy                           0.46     63000
   macro avg       0.46      0.58      0.40     63000
weighted avg       0.80      0.46      0.51     63000

In [228]:
print(accuracy_score(y_pred,y_test1))

0.4585714285714286

In [97]:
new_emoji_df = pd.read_csv(r"ijstable.csv")

In [98]:
new_df = new_emoji_df[1:]

In [99]:
new_df.reset_index().drop(['index'],axis=1)

,Char,Unnamed: 1,Unicode,Occurrences,Position,Neg,Neut,Pos,Sentiment score,Sentiment bar,Unicode name,Unicode block
0,😂,NaN,0x1f602,14622,0.805,0.247,0.285,0.468,0.221,NaN,FACE WITH TEARS OF JOY,Emoticons
1,❤,NaN,0x2764,8050,0.747,0.044,0.166,0.79,0.746,NaN,HEAVY BLACK HEART,Dingbats
2,♥,NaN,0x2665,7144,0.754,0.035,0.272,0.693,0.657,NaN,BLACK HEART SUIT,Miscellaneous Symbols
3,😍,NaN,0x1f60d,6359,0.765,0.052,0.219,0.729,0.678,NaN,SMILING FACE WITH HEART-SHAPED EYES,Emoticons
4,😭,NaN,0x1f62d,5526,0.803,0.436,0.22,0.343,-0.093,NaN,LOUDLY CRYING FACE,Emoticons
...,...,...,...,...,...,...,...,...,...,...,...,...
746,♮,NaN,0x266e,5,0.937,0.125,0.625,0.25,0.125,NaN,MUSIC NATURAL SIGN,Miscellaneous Symbols
747,🅾,NaN,0x1f17e,5,0.977,0.375,0.375,0.25,-0.125,NaN,NEGATIVE SQUARED LATIN CAPITAL LETTER O,Enclosed Alphanumeric Supplement
748,🔄,NaN,0x1f504,5,0.971,0.125,0.75,0.125,0,NaN,ANTICLOCKWISE DOWNWARDS AND UPWARDS OPEN CIRCL...,Miscellaneous Symbols and Pictographs
749,☄,NaN,0x2604,5,0.435,0.125,0.75,0.125,0,NaN,COMET,Miscellaneous Symbols
750,☨,NaN,0x2628,5,0.458,0.125,0.75,0.125,0,NaN,CROSS OF LORRAINE,Miscellaneous Symbols

In [100]:
new_list_emoji_df = [i for i in new_df['Char']]

In [101]:
# new_list_emoji_df

In [52]:
df[df['Target']=='Negative']

,video_id,comment_text,likes,replies,Polarity,Target
9,XpVt6Z1Gjjo,You and your shit brother may have single hand...,0,0,-0.135714,Negative
12,XpVt6Z1Gjjo,Honestly Evan is so annoying. Like its not fun...,0,0,-0.023333,Negative
16,XpVt6Z1Gjjo,Ayyyyoooo Logang what up . This was a hard vl...,1,0,-0.291667,Negative
19,XpVt6Z1Gjjo,Made a lot of people hate youtube - GJ,0,0,-0.800000,Negative
28,XpVt6Z1Gjjo,Evan is a horrible human being he also looks s...,0,0,-0.050000,Negative
...,...,...,...,...,...,...
471576,Hlt3rA-oDao,That was so stupid and y'all are just giving i...,0,3,-0.266667,Negative
471577,Ni5Uc-DdMqk,*To those who are freaking out about the spoil...,38,15,-0.070000,Negative
471581,CN4YL1KPDAA,You can't really prove the dip is because of t...,0,0,-0.037879,Negative
471582,CN4YL1KPDAA,Regarding the views dip and this uncut live vi...,0,0,-0.115530,Negative
471594,CN4YL1KPDAA,just casually has an iphone lying around,0,0,-0.500000,Negative

In [168]:
def devide_emoji_with_text(str):
    new_list_emoji_df = [i for i in new_df['Char']]
#     print(new_list_emoji_df)
    text_list_extract=[]
    emoji_list_extract=[]
#     c=0
    for i in str:
#         print(c)
        if i in new_list_emoji_df:
            emoji_list_extract.append(i)
        else:
            text_list_extract.append(i)
#         c+=1
            
    text = "".join(text_list_extract)
#     print(c)
    return len(emoji_list_extract),emoji_list_extract,text

In [169]:
df.head()
# type(df['comment_text'][0])

,video_id,comment_text,likes,replies,Polarity,Target,Final_Target
0,7YAAyUFL1GQ,K back to good music I was on autoplay and it ...,0,0,0.333333,Positive,1
1,fiEYKSMcHAI,Love your vids keep up with the good work,0,0,0.600000,Positive,1
2,368_ovPsJk8,Lmao what is she saying?! \nShe said fuck you 😂,0,0,0.175000,Positive,1
3,-Jdc7FXupWQ,This cover is fantastic! Her voice is perfect ...,4,0,0.750000,Positive,1
4,bvomHFZO0mk,Cool! Just come to the US legally and we will ...,0,0,0.379167,Positive,1

In [170]:
def clean_comment_fun(str):
    new_list_emoji_df = [i for i in new_df['Char']]
    
    text_list_extract=[]
    
    for i in str:
#         print(c)
        if i not in new_list_emoji_df:
            text_list_extract.append(i)
            
    text = "".join(text_list_extract)
    
    df = pd.DataFrame({'comment':text},index=[0])
    
    new_str = transform_text_2(df)
    
    return new_str

In [171]:
df['clean_comment'] = df['comment_text'].apply(clean_comment_fun)
df.head()

,video_id,comment_text,likes,replies,Polarity,Target,Final_Target,clean_comment
0,7YAAyUFL1GQ,K back to good music I was on autoplay and it ...,0,0,0.333333,Positive,1,k back good music autoplay went jacob sartoriu...
1,fiEYKSMcHAI,Love your vids keep up with the good work,0,0,0.600000,Positive,1,love vids keep good work
2,368_ovPsJk8,Lmao what is she saying?! \nShe said fuck you 😂,0,0,0.175000,Positive,1,lmao saying \nshe said fuck
3,-Jdc7FXupWQ,This cover is fantastic! Her voice is perfect ...,4,0,0.750000,Positive,1,cover fantastic voice perfect
4,bvomHFZO0mk,Cool! Just come to the US legally and we will ...,0,0,0.379167,Positive,1,cool come u legally problem whatsoever

In [187]:
# df.to_csv("Random_same_sample_ALL_3_Category.csv",index=False)

In [344]:
def fun1(str):
#     example_str = str
#     print(str)
    df = pd.DataFrame({'comment':str},index=[0])
#     df
#     tm = df['comment'][0]

    new_str = transform_text_2(df)
#     print(new_str)
#     print([new_str])
    tmp = tfidf1.transform([new_str])
    pred = model1.predict(tmp.todense())
    
    if pred[0]=="Positive":
        return 1
    elif pred[0]=="Netural":
        return 0
    else:
        return -1

In [345]:
def fun2(num,list_of_extract_emoji):
#     no,emojis = extract_emojis(str)
#     list_emoji_df = [i for i in emoji_df['Emoji_Symbole']]
    sent=0
    cnt=0
    if num==0:
        return 0
    for i in list_of_extract_emoji:
        if i in new_list_emoji_df:
            if new_df.iloc[cnt]['Pos']>new_df.iloc[cnt]['Neg']:
                sent+=float(new_df.iloc[cnt]['Pos'])
            else:
                sent+=float(new_df.iloc[cnt]['Neg'])
        else:
            sent+=0
        cnt+=1
    sent /= num
    
    return sent

In [346]:
def final_result(str):
    
    no,list_emoji,text = devide_emoji_with_text(str)
#     print("No of emoji : ",no)
#     print("List of emoji : ",list_emoji)
#     print("Text : ",text)
    
#     print("Result after using Transform Text : ",transform_text(text))
    
    final_sentiment=(fun1(text)+fun2(no,list_emoji)/2)
    a=''
    if (final_sentiment>0):
        a = 'Positive'
    elif final_sentiment<0:
        a = 'Negative'
    else:
        a = 'Netural'
#     print("Final Sentiment Result : ",a)
    return a

In [348]:
# df = pd.DataFrame({'comment':str},index=[0])
# df
# tm = df['comment'][0]
# str = 'Lost on you ! 😍OH My God I love this song !😭'
str='I love this people'
final_result(str)

'Positive'

In [338]:
fun1("Nice song bro")

0

In [349]:
# TextBlob('I am happy to see you here').sentiment.polarity