In [1]:
!pip install emoji

Requirement already satisfied: emoji in c:\users\lenovo\anaconda3\lib\site-packages (2.2.0)

WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\lenovo\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\lenovo\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\lenovo\appdata\roaming\python\python39\site-packages)
WARNING: Error parsing requirements for pyqt5: [Errno 2] No such file or directory: 'c:\\users\\lenovo\\anaconda3\\lib\\site-packages\\PyQt5-5.15.7.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\lenovo\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\lenovo\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\lenovo\appdata\roaming\python\python39\site-packages)

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from tracemalloc import stop
import numpy as np
import pandas as pd
import re
import seaborn as sns
import string
import nltk
import emoji
import string
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier

In [3]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score

In [4]:
nltk.download('punkt')
nltk.download('stopwords')
sw=nltk.corpus.stopwords.words("english")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [126]:
# df = pd.read_csv("New_Dropped_Uscomments.csv",error_bad_lines=False)
df = pd.read_csv("New_DF_Positive_Negative_Netural_dropna.csv",error_bad_lines=False)
# df = pd.read_csv("Random_same_sample_ALL_3_Category.csv",error_bad_lines=False)

C:\Users\LENOVO\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3552: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [127]:
df.head()

,video_id,comment_text,likes,replies,Polarity,Target
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0,0.0,Neutral
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0,0.0,Neutral
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0,0.0,Neutral
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0,0.0,Neutral
4,XpVt6Z1Gjjo,trending üòâ,3,0,0.0,Neutral

In [129]:
len(df)

471631

In [130]:
df['Target'].value_counts()

Positive    203102
Neutral     195920
Negative     72609
Name: Target, dtype: int64

# Trying Only Positive and Negative

In [131]:
from textblob import TextBlob

In [132]:
polarity = []
for comment in df['comment_text']:
    try:
        polarity.append(TextBlob(comment).sentiment.polarity)
    except:
        polarity.append(0)

In [133]:
x=[]
for i in df.Polarity:
    if i>0:
        x.append('Positive')
    elif i<0:
        x.append('Negative')
    else:
        x.append('Neutral')

In [134]:
df['Target'] = x

In [135]:
df.head()

,video_id,comment_text,likes,replies,Polarity,Target
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0,0.0,Neutral
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0,0.0,Neutral
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0,0.0,Neutral
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0,0.0,Neutral
4,XpVt6Z1Gjjo,trending üòâ,3,0,0.0,Neutral

In [43]:
df['Target'].value_counts()

Positive    203102
Neutral     195920
Negative     72609
Name: Target, dtype: int64

In [54]:
tmp_positive = df[df['Target']=='Positive'].sample(70000)
tmp_negative = df[df['Target']=='Negative'].sample(70000)
tmp_netural = df[df['Target']=='Neutral'].sample(70000)

In [55]:
df1 = pd.concat([tmp_positive,tmp_negative,tmp_netural],ignore_index=True)

In [136]:
df1.head()

,comment_text,Polarity,Target,New_Target,Target_in_no,Tokenize_word
0,love him so much.,0.350000,Positive,0.350000,1,"[love, him, so, much]"
1,*Every Racist Has A Black Friend* ¬†The #1 Musi...,0.059524,Positive,0.059524,1,"[Every, Racist, Has, A, Black, Friend, The, 1,..."
2,In love with the French side üòù,0.250000,Positive,0.250000,1,"[In, love, with, the, French, side, üòù]"
3,Best thing ever seen yet. 1:00 wants to play w...,0.600000,Positive,0.600000,1,"[Best, thing, ever, seen, yet, 1:00, wants, to..."
4,"Wow, I was just thinking, why not him.",0.100000,Positive,0.100000,1,"[Wow, I, was, just, thinking, why, not, him]"

In [137]:
df1['Target'].value_counts()

Positive    70000
Negative    70000
Neutral     70000
Name: Target, dtype: int64

In [58]:
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import *
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [59]:
sw = stopwords.words('english')
ps = PorterStemmer()
lemmatizer = nltk.stem.WordNetLemmatizer()

In [ ]:
# df['tokenize'] = df['comment_text'].apply()

In [87]:
df1['comment_text'][3]

'Best thing ever seen yet. 1:00 wants to play with the toy too. No  cat goes ohh...'

In [88]:
# str="Best thing ever seen yet. 1:00 wants to play with the toy too. No  cat goes ohh..."

In [89]:
tb = TextBlob(str)

In [90]:
tb.polarity

0.6

In [67]:
lst = tb.words

In [69]:
lst

WordList(['In', 'love', 'with', 'the', 'French', 'side', 'üòù'])

In [76]:
ans=0
for i in lst:
    print(i)
    new_tb = TextBlob(i)
    ans += new_tb.polarity
    print(ans)
#     print(new_tb.polarity)
ans

In
0.0
love
0.5
with
0.5
the
0.5
French
0.5
side
0.5
üòù
0.5

0.5

In [91]:
df1.head()

,video_id,comment_text,likes,replies,Polarity,Target
0,iKzRIweSBLA,love him so much.,0,0,0.350000,Positive
1,xU5-_EGfcHw,*Every Racist Has A Black Friend* ¬†The #1 Musi...,0,0,0.059524,Positive
2,Z9svINZiBdU,In love with the French side üòù,0,0,0.250000,Positive
3,ruTB5jBGXsE,Best thing ever seen yet. 1:00 wants to play w...,0,0,0.600000,Positive
4,fwDZ8uhqJg0,"Wow, I was just thinking, why not him.",0,0,0.100000,Positive

In [108]:
str="Best thing ever seen yet. 1:00 wants to play with the toy too. No  cat goes ohh..."
def tokenize(str):
    tb = TextBlob(str).words
    
    return list(tb)
    
#     print(tb)
#     print(type(tb))

In [109]:
tokenize(str)

['Best',
 'thing',
 'ever',
 'seen',
 'yet',
 '1:00',
 'wants',
 'to',
 'play',
 'with',
 'the',
 'toy',
 'too',
 'No',
 'cat',
 'goes',
 'ohh']

In [97]:
from sklearn.feature_extraction.text import CountVectorizer

In [98]:
vectorizer = CountVectorizer()

In [99]:
X = vectorizer.fit_transform(tb).toarray()

In [105]:
print(X)
X.reshape(1,len(X.shape)).shape

[[0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0]
 [0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]]

ValueError: cannot reshape array of size 289 into shape (1,2)

In [110]:
def polarity(str):
    tb = TextBlob(str)
    return tb.polarity

In [111]:
df1['New_Target'] = df1['comment_text'].apply(polarity)

In [115]:
def lable_target_no(no):
    if no>0:
        return 1
    elif no<0:
        return -1
    else:
        return 0

In [112]:
df1.head()

,video_id,comment_text,likes,replies,Polarity,Target,New_Target
0,iKzRIweSBLA,love him so much.,0,0,0.350000,Positive,0.350000
1,xU5-_EGfcHw,*Every Racist Has A Black Friend* ¬†The #1 Musi...,0,0,0.059524,Positive,0.059524
2,Z9svINZiBdU,In love with the French side üòù,0,0,0.250000,Positive,0.250000
3,ruTB5jBGXsE,Best thing ever seen yet. 1:00 wants to play w...,0,0,0.600000,Positive,0.600000
4,fwDZ8uhqJg0,"Wow, I was just thinking, why not him.",0,0,0.100000,Positive,0.100000

In [117]:
df1['Target_in_no'] = df1['New_Target'].apply(lable_target_no)

In [119]:
df1['Target_in_no'].value_counts()

 1    70000
-1    70000
 0    70000
Name: Target_in_no, dtype: int64

In [122]:
df1 = df1.drop(['video_id'],axis=1)

In [123]:
df1.head()

,comment_text,Polarity,Target,New_Target,Target_in_no
0,love him so much.,0.350000,Positive,0.350000,1
1,*Every Racist Has A Black Friend* ¬†The #1 Musi...,0.059524,Positive,0.059524,1
2,In love with the French side üòù,0.250000,Positive,0.250000,1
3,Best thing ever seen yet. 1:00 wants to play w...,0.600000,Positive,0.600000,1
4,"Wow, I was just thinking, why not him.",0.100000,Positive,0.100000,1

In [124]:
df1['Tokenize_word'] = df1['comment_text'].apply(tokenize)

In [125]:
df1.head()

,comment_text,Polarity,Target,New_Target,Target_in_no,Tokenize_word
0,love him so much.,0.350000,Positive,0.350000,1,"[love, him, so, much]"
1,*Every Racist Has A Black Friend* ¬†The #1 Musi...,0.059524,Positive,0.059524,1,"[Every, Racist, Has, A, Black, Friend, The, 1,..."
2,In love with the French side üòù,0.250000,Positive,0.250000,1,"[In, love, with, the, French, side, üòù]"
3,Best thing ever seen yet. 1:00 wants to play w...,0.600000,Positive,0.600000,1,"[Best, thing, ever, seen, yet, 1:00, wants, to..."
4,"Wow, I was just thinking, why not him.",0.100000,Positive,0.100000,1,"[Wow, I, was, just, thinking, why, not, him]"

In [139]:
df1 = df1.drop(['Tokenize_word'],axis=1)

In [140]:
df1.head()

,comment_text,Polarity,Target,New_Target,Target_in_no
0,love him so much.,0.350000,Positive,0.350000,1
1,*Every Racist Has A Black Friend* ¬†The #1 Musi...,0.059524,Positive,0.059524,1
2,In love with the French side üòù,0.250000,Positive,0.250000,1
3,Best thing ever seen yet. 1:00 wants to play w...,0.600000,Positive,0.600000,1
4,"Wow, I was just thinking, why not him.",0.100000,Positive,0.100000,1

In [141]:
df1['comment_text'] = df1['comment_text'].str.lower()

In [142]:
df1.head()

,comment_text,Polarity,Target,New_Target,Target_in_no
0,love him so much.,0.350000,Positive,0.350000,1
1,*every racist has a black friend* ¬†the #1 musi...,0.059524,Positive,0.059524,1
2,in love with the french side üòù,0.250000,Positive,0.250000,1
3,best thing ever seen yet. 1:00 wants to play w...,0.600000,Positive,0.600000,1
4,"wow, i was just thinking, why not him.",0.100000,Positive,0.100000,1

In [143]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [144]:
countvector=CountVectorizer(ngram_range=(2,2))

In [ ]:
x=countvector.fit_transform(df1['comment_text'])
y = df1['Target']

In [146]:
x_train1,x_test1,y_train1,y_test1=train_test_split(x,y,test_size=0.3,random_state=101)

In [ ]:
# model1=MultinomialNB()

In [147]:
x_train1.shape

(330141, 1612984)

In [148]:
x_test1.shape

(141490, 1612984)

In [ ]:
# implement RandomForest Classifier
randomclassifier=RandomForestClassifier(n_estimators=200,criterion='entropy')
randomclassifier.fit(x_train1,y_train1)

In [ ]:
y_pred = randomclassifier.predict(x_test1)